{% extends 'index.html' %}
{% load static %}

{% block title %}FAQs - StonksTracker{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/faq.css' %}">
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<div id="main" class="main-container" >
    <div class="container" style="background: transparent; box-shadow: 0 0px 0px ">
        <div class="faq-header" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; width: 100%;    ">
            <div class="faq-text" style='max-width: 100%; '>
                <h1 class="faq-title" style="margin-right: 75px; font-size: 4.5rem; ">FAQs</h1>
                <p class="faq-description" style="margin-right: -140px; font-size: 1.15 rem; margin-left: 150px; margin: 20px 40px" >
                    Have questions? This is where you'll find answers about StonksTracker. Learn how to navigate the app, understand price updates, and make the most of your tracking experience.
                </p>
            </div>
            <img src="{% static 'images/faq.png' %}" style="height: 300px; width: 360px; margin-right: -5px;">
        </div>
        <hr width="120%"  style="margin: 10px 50px; height: 1px; background-color: black; border: none;">
        <div class="faq-list">
            <div class="faq-item">
                <center><h3 class="faq-question">What is a price deviation and how is it calculated?</h3></center>
                <center><p class="faq-answer" style='margin: 20px 100px;font-size: 1.25rem;'>
                    A price deviation refers to the difference between the current price of an item and its historical average. It's calculated by comparing the item's latest price with its average price over a set period.
                </p></center>
            </div>
            <hr width="90%" style="margin: 50px 60px; height: 1px; background-color: black; border: none;">
            <div class="faq-item">
                <center><h3 class="faq-question">Why do prices fluctuate?</h3></center>
                <center><p class="faq-answer" style='margin: 20px 100px;font-size: 1.25rem;'>
                    Prices can fluctuate due to various factors such as changes in supply and demand, market trends, and updates or new releases in the game.
                </p></center>
            </div>
        </div>
    </div>
</div>
{% endblock %}