{% extends 'index.html' %}
{% load static %}

{% block title %}Forums - StonksTracker{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
<div class="container" style="background: transparent; box-shadow: 0 0px 0px;">
    
    <div class="forums-container" style="width: 800px; height: auto;">
        <h1 class="forums-title">Forums</h1>
        <hr width="170%" style="margin: 50px -245px; height: 1px; background-color: black; border: none;">
        <center><a href="{% url 'create_post' %}" class="create-post">Create New Post</a></center>
        <div class="forum-posts" style="overflow-y: scroll; max-height: 500px; max-width: 800px; -ms-overflow-style: none; scrollbar-width: none;"> <!-- Adjust the width and height as needed -->
            <style>
                .forum-posts::-webkit-scrollbar {
                    display: none;
                }
            </style>
            {% for forum in forums %}
            <div class="forum-post" style="width: 100%;">
                <div class="post-header">
                    <span class="post-title">{{ forum.title }}</span>
                    <span class="post-date">{{ forum.dateCreated }}</span>
                </div>
                <div class="post-author">Posted by: {{ forum.user }}</div>
                <div class="post-content">{{ forum.content }}</div>
                <a href="{% url 'delete_post' forum.id %}" class="delete-post">Delete</a>
            </div>
            {% endfor %}
        </div>
        <div class="background"></div>
    </div>
</div>
{% endblock %}