<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}StonksTracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block header %}
    <div class="navbar">
        <div class="logo">
            <center><h1>StonksTracker</h1></center>
        </div>
        <br>
        <center>
        <div class="menu">
            <a href="{% url 'watchlist' %}">Dashboard</a> 
            <a href="{% url 'items_list' %}">Item List</a>
            <a href="{% url 'forums' %}">Forums</a>
            <a href="{% url 'faq' %}">FAQs</a>
        </div>
        </center>
    </div>
    
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>