<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSGO Items</title>
    <style>
        body {
            font-family: sans-serif;
            margin-right: 50px;
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <h1>CSGO Items</h1>
    <ul>
        {% for item in items %}
            <li>
                <h3>{{ item.marketname }}</h3>
                <p>Price: ₱ {{ item.priceavg }}</p>
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>