<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StonksTracker - Log In</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body style="background-image: url('{% static 'images/vector-bg-stonks.png' %}'); background-size: 100% 45%; background-position: center bottom; background-repeat: no-repeat;">



  <div class="container">
    <h1>Welcome!</h1>
    <div class="separator">Login to your Account</div>

    <!-- Login Form -->
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <!-- Email field -->
      <input type="email" name="email" placeholder="EMAIL" required>
      {{ form.email.errors }}
      <!-- Password field -->
      <input type="password" name="password" placeholder="PASSWORD" required>
      {{ form.password.errors }}
      <!-- Submit button -->
       
      <button type="submit" class="login-btn">LOG IN</button>

      {% for message in messages %}
    <div class="alert">{{ message }}</div>
{% endfor %}

  </form>
  

    <div class="signup-link">
      <a href="{% url 'signup' %}">Don't have an account?</a>
    </div>
  </div>
</body>
</html>
