<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StonksTracker - Log In</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <script src="{% static 'javascript/menu-sidebar.js' %}" defer></script>
</head>
<body>
<header>
  <a href="javascript:void(0)" class="menu-icon" onclick="openNav()">
    <img src="{% static 'images/menu-icon.svg' %}" alt="Menu Icon" width="50" height="50">
  </a>
  <div class="logo">
    <h1>StonksTracker</h1>
  </div>
  <div class="dropdown">
    <button class="dropbtn">
      <img src="{% static 'images/user-icon.png' %}" alt="User Icon" width="50" height="50">
    </button>
    <div class="dropdown-content">
      <a href="{% if user.is_authenticated %}#account{% else %}{% url 'login' %}{% endif %}">Account</a>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
      {% endif %}
    </div>
  </div>
</header>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <ul>
    <li><a href="{% url 'watchlist' %}">Dashboard</a></li>
    <li><a href="{% url 'items_list' %}">Item List</a></li>
    <li><a href="{% url 'items_list' %}">Settings</a></li>
    <li><a href="{% url 'forums' %}">Forums</a></li>
    <li><a href="{% url 'faq' %}">FAQs</a></li>
  </ul>
</div>

  <div class="container">
    <h1>Welcome!</h1>
    <div class="separator">Log in with</div>
    <button class="steam-btn">
      <img src="{% static 'images/steam-logo.png' %}" alt="Steam Logo" width="40"> LOG IN WITH STEAM
    </button>
    
    <div class="separator">or</div>

    <!-- Login Form -->
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <!-- Email field -->
      <input type="email" name="email" placeholder="EMAIL" required>
      {{ form.email.errors }}
      <!-- Password field -->
      <input type="password" name="password" placeholder="PASSWORD" required>
      {{ form.password.errors }}
      <!-- Submit button -->
       
      <button type="submit" class="login-btn">LOG IN</button>

      {% for message in messages %}
    <div class="alert">{{ message }}</div>
{% endfor %}

  </form>
  

    <div class="signup-link">
      <a href="{% url 'signup' %}">Don't have an account?</a>
    </div>
  </div>
</body>
</html>
