{% extends 'index.html' %}
{% load static %}

{% block title %}StonksTracker - Log In{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<div class="container" >
    <h1 class="welcome">Welcome!</h1>
    <div class="separator">Login to your Account</div>

    <!-- Login Form -->
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <!-- Email field -->
        <input type="email" name="email" placeholder="EMAIL" required>
        {{ form.email.errors }}
        <!-- Password field -->
        <input type="password" name="password" placeholder="PASSWORD" required>
        {{ form.password.errors }}
        <!-- Submit button -->
        <button type="submit" class="login-btn">LOG IN</button>
    </form>

    <div class="signup-link">
        <a href="{% url 'signup' %}">Don't have an account?</a>
    </div>
</div>
{% endblock %}