<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StonksTracker - Sign Up</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <!-- Clickable Menu Icon -->
    <a href="#" class="menu-icon">
      <img src="{% static 'images_png_or_svg/menu-icon.svg' %}" alt="Menu Icon" width="50" height="50">
    </a>
    
    <div class="logo">
      <h1>StonksTracker</h1>
    </div>

    <!-- Clickable User Icon -->
    <a href="#" class="user-icon">
      <img src="{% static 'images_png_or_svg/user-icon.png' %}" alt="User Icon" width="50" height="50">
    </a>
  </header>

  <div class="container">
    <h1>Welcome!</h1>
    <div class="separator">Sign up with</div>
    <button class="steam-btn">
      <img src="{% static 'images_png_or_svg/steam-logo.png' %}" alt="Steam Logo" width="40"> SIGN UP WITH STEAM
    </button>

    <div class="separator">or</div>

    <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <input type="text" name="username" placeholder="USERNAME" value="{{ form.username.value }}" required>
      {{ form.username.errors }}
      <input type="email" name="email" placeholder="EMAIL" value="{{ form.email.value }}" required>
      {{ form.email.errors }}
      <input type="password" name="password1" placeholder="PASSWORD" required>
      {{ form.password1.errors }}
      <input type="password" name="password2" placeholder="CONFIRM PASSWORD" required>
      {{ form.password2.errors }}
      <button type="submit" class="signup-btn">SIGN UP</button>
    </form>
    
    
    

    <div class="login-link">
      <a href="{% url 'login' %}">Already have an account?</a>
    </div>
  </div>
</body>
</html>
