{% extends 'index.html' %}
{% load static %}

{% block title %}Watchlist{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/watchlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <div class="content">
        <h1 class="watchlist-header">Your Watchlist</h1>
        <hr>
        <div class="search-bar">
            <center><input type="text" placeholder="Search Items"></center>
        </div>
        <div style="overflow-y: scroll; max-height: 500px; -ms-overflow-style: none; ">
            <style>
                .content::-webkit-scrollbar {
                    display: none;
                }
            </style>
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><img src="{{ item.image_url }}" alt="Item Image"></td>
                        <td>{{ item.name }}</td>
                        <td>₱ {{ item.price }}</td>
                        <td>
                            <form action="{% url 'delete_from_watchlist' %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.item_id }}">
                                <button type="submit" style="color: red;">Remove</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Your watchlist is empty!</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}