body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    justify-content: space-between;
    background-color: #1a2fdb;
    color: white;
    padding: 1rem;
}

.navbar .logo h1 {
    margin: 0;
}

.navbar .menu a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.search-bar {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin: 20px;
}

.content {
    padding: 2rem;
}

.forum-page {
    max-width: 800px;
    margin: 0 auto;
}

.forum-list {
    margin-top: 1rem;
}

.forum-item {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}

.forum-item h3 {
    margin: 0;
}

.forum-item small {
    color: #777;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 100;
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #575757;
}

.side-menu.open {
    width: 250px;
}

#menuIcon:hover + .side-menu {
    width: 250px;
}

main {
    transition: margin-right 0.5s;
}

.side-menu.open + main {
    margin-right: 250px;
}

.background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.5;
    background: linear-gradient(45deg, #3742fa, #70a1ff);
    clip-path: polygon(0 50%, 100% 20%, 100% 100%, 0% 100%);
}
