* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #0f29e5;
  }
  .menu-icon, .user-icon {
    font-size: 1.5rem;
    color: white;
  }
  .logo {
    display: flex;
    align-items: center;
    
  }
  .logo svg {
    margin-right: 10px;
  }
  .logo h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }
  .container {
    background-color: #0f29e5;
    border-radius: 10px;
    padding: 70px 90px;
    width: 1100px;
    text-align: center;
    margin-top: 5%;
  }
  .container h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    margin-top: -40px;
  }
  .steam-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 15px;
    margin: 10px 32%;
    width: 35%;
    height: 100%;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .steam-btn img {
    margin-right: 10px;
  }
  .separator {
    margin: 35px 0;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white;
  }
  .separator::before {
    margin-right: 10px;
  }
  .separator::after {
    margin-left: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
  .signup-btn {
    padding: 10px 15px;
    margin: 30px 35%;
    width: 35% center;
    background-color: #ffffff;
    border: none;
    color: #0a0a23;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }

  .login-btn {
    padding: 10px 15px;
    margin: 30px 35%;
    width: 35% center;
    background-color: #ffffff;
    border: none;
    color: #0a0a23;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }

  .login-link {
    margin-top: 15px;
  }
  .login-link a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  input {
    margin-bottom: 25px; /* 15px * 1.5 */
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}